body {
    font-family: sans-serif;
}

.oplus, .ominus {
    display: none;
    cursor: pointer;
}

.oplus {
    color: green;
}

.ominus {
    color: red;
}

td.oplus, td.ominus {
    border: none;
}

table:hover td.oplus, table:hover td.ominus {
    display: table-cell;
}

#ende:hover .ominus {
    display: inline;
}

body {
    background-color: ivory;
}

#modeler {
    display: inline-block;
    border: 0.1rem solid black;
    background-color: #DDD;
}

#modeler .toolbar {
    display: table;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

#modeler .toolbar li {
    display: table-cell;
    border: 0.5rem solid transparent;
}

#modeler .toolbar li:hover {
    background-color: #EEE;
}

#modeler .canvas {
    position: relative;
    min-width: 40em;
    min-height: 30em;
    overflow: hidden;
}

#modeler .relations {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
}

#modeler .relations svg {
    width: 100%;
    height: 100%;
}

/* The caption of a table is not part of the table (by the means of
box-shadow).  In order to give both the table and the caption a
box-shadow it is necessary to put the table in a div. */

#modeler .entity {
    position: absolute;
    box-shadow: 0.2rem 0.25rem 0.25rem #CCC;
    background-color: #EEE;
    border: 0.1rem solid #999;
    z-index: 0;
}

#modeler .entity table {
    border-collapse: separate;
    border-spacing: 0;
    border: 0.25rem solid transparent;
}

/* Sun logo color: 616ca7 */

#modeler .entity table caption {
    font-weight: bold;
    color: #00A;
    background-color: #DDD;
    padding: 0.3rem 0.25rem 0.1rem 0.25rem;
    text-align: left;
}

_table.entity caption::before {
    content: ' ⬜ '; /* WHITE LARGE SQUARE, EN SPACE*/
    color: #666;
    background-color: #FFF;
}

.entity table tr:nth-child(even) {
/*    background-color: rgba(0,0,0,0.02); */
}

#modeler [contenteditable="true"] {
    padding: 0 0.25rem;
    display: inline-block;
    min-width: 5em;
}

#modeler [contenteditable="true"]:hover {
    cursor: text;
}

#modeler [contenteditable="true"]:focus {
    background-color: #FFF;
}

#modeler .entity table caption:hover {
    /*    background-color: #FF9;*/
    cursor: move;
}

#modeler .entity table caption span {
    display: table-cell;
}

#modeler .entity table caption span.hfill {
    width: 100%;
    min-width: 2rem;
}

#modeler .entity table caption span:last-of-type {
    color: #999;
    padding: 0 0.25rem;
    margin-left: 1rem;
    font-size: 90%;
    visibility: hidden;
}

#modeler .entity table:hover caption span:last-of-type {
    visibility: visible;
}

#modeler .entity table caption:hover span:last-of-type {
    cursor: pointer;
}

#modeler .entity table .anchor {
    color: #999;
    min-width: 1rem;
    letter-spacing: -0.25em;
    cursor: move;
}

#modeler .entity select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #EEE;
    border: none;
}

#modeler .entity table td.type {
    color: #090;
    padding: 0 0.25rem;
}

#modeler .entity table td.type * {
    color: inherit;
}

path.rel {
    stroke-width: 0.1rem;
}

#modeler .entity table th {
    text-align: left;
    font-weight: normal;
}

svg line, svg path {
    stroke: #000;
    stroke-width: 0.1rem;
    vector-effect: non-scaling-stroke;
}

svg.icon {
    display: inline-block;
/*    height: 15ex;
    width: 15ex;*/
    height: 2.15ex;
    width: 2.15ex;
/*    background-color: yellow;*/
    vertical-align: top;
}

svg.icon line {
    stroke: #999;
}

#modeler .entity table svg.icon.move {
    display: none;
}

#modeler .entity table:hover svg.icon.move {
    display: inline-block;
}
